@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.page-header {
    box-shadow: inset 0 3px 12px 0 rgba(0,0,0,0.55);
}

.page-logo:focus {
    outline: none;
    border-bottom: 0.25rem solid black;
}

.main-background {
    filter: blur(1rem) brightness(50%);
    object-fit: cover;
    object-position: center;
}

.details-box {
    box-shadow: inset 0 1px 10px 4px rgba(0,0,0,1);
}

@keyframes photo-jump {
    0% {transform: translateY(0rem) rotate(0)}
    25% {transform: translateY(-1rem) rotate(0)}
    50% {transform: translateY(-1rem) rotate(-360deg)}
    100% {transform: translateY(0rem) rotate(-360deg)}
}

.photo-card {
    transition: transform ease 0.5s;
}

.photo-card:focus {
    box-shadow: 0 0 10px white;
    transform: translateY(-0.5rem);
}
.photo-card-image {
    object-position: center;
    object-fit: cover;
}

.photo-logo {
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.photo-logo:hover {
    animation-name: photo-jump;
    animation-timing-function: ease-in;
}

.photo-inner-shadow {
    box-shadow: inset 0 0 10px black;
}

.light-inner-shadow {
    box-shadow: inset 0 0 5px black;
}

@keyframes search-spin-right {
    0% {transform: rotate(0)}
    100% {transform: rotate(-360deg)}
}

@keyframes search-spin-left {
    0% {transform: rotate(0)}
    100% {transform: rotate(360deg)}
}

.search-spin-left,
.search-spin-right {
    animation-iteration-count: 1;
    animation-duration: 0.75s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.search-spin-left {
    animation-name: search-spin-left;
}

.search-spin-right {
    animation-name: search-spin-right;
}

@keyframes search-box-left {
    0% {left: 0;}
    100% {left: 50%;}
}

@keyframes search-box-right {
    0% {left: 50%;}
    100% {left: 0;}
}

.search-box-left,
.search-box-right {
    animation-iteration-count: 1;
    animation-duration: 0.75s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    transform: translate(-50%);
}

.search-box-left {
    animation-name: search-box-left;
}

.search-box-right {
    animation-name: search-box-right;
}

.pin {
    transform-origin: top;
}

.sort-button:focus {
    box-shadow: 0 0 20px white;
    outline-color: white;
}

.camera-glow {
    filter: drop-shadow(0px 0px 5px black);
}

.form-backdrop {
    backdrop-filter: blur(50%);
}

.camera-image:focus {
    filter: drop-shadow(0px 0px 10px black);
    outline: none;
}


